@font-face {
  font-family: "ULTRA";
  font-weight: 400;
  src: url("./fonts/Ultra-Regular.ttf");
}

@font-face {
  font-family: "Noto-Sans";
  font-weight: 400;
  src: url("./fonts/Noto_Sans/NotoSans-Thin.ttf");
}

body {
  overflow: hidden;
}
